<div class="card-container">
<mat-card class="example-card">
    <mat-card-header>
         <mat-card-title>{{pokemon?.name}}</mat-card-title>
      <mat-card-subtitle>N°: {{pokemon?.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{pokemon?.sprites?.front_default}}" alt="Photo of pokemon">
    <mat-card-content>
      <p>{{description}}</p>
      <span>Altura: {{pokemon?.height}}</span> <br> <br> 
      <span>Peso: {{pokemon?.weight}}</span> <br> <br> 
      <span>Experiencia Base: {{pokemon?.base_experience}}</span> <br><br> 
      <p><span *ngFor="let type of pokemon?.types">Tipo: {{type.type.name | titlecase}} <br><br> </span></p>     
    </mat-card-content>
    <mat-card-actions>
      <button mat-button></button>
      <button mat-button></button>
    </mat-card-actions>
</mat-card>
</div>

