@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
 .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: gray; 
  }
  
  .title h1 {
    margin: 0; 
    font-family: 'Roboto Mono', monospace;  
    font-size: 35px;
  }
  
  .title img {
    width: 200px;
    margin: 0 10px; 
  }